<div class="row">
    <div class="col-6">
      <p class="text-center">
        <strong>Sandro Räss (*10.08.1991)</strong>
      </p>

      <hr />
      <h3 class="text-center">Lebenslauf</h3>
      <p class="text-center">
        <strong>Ausbildung</strong>
      </p>
      <div class="row">
        <div class="col-4">
          <p>
            <strong>2008 - 2012</strong>
          </p>
        </div>
        <div class="col-8 border-bottom mb-3">
          <p>
              Pädagogische Maturitätsschule Kreuzlingen
          </p>
        </div>
        <div class="col-4">
          <p>
            <strong>2012 - 2015</strong>
          </p>
        </div>
        <div class="col-8 border-bottom mb-3">
          <p>
              Universität Bern
              <br />
              Bachelor
              <br />
            - Philosophie
            <br />
            - Nachhaltige Entwicklung
          </p>
        </div>
        <div class="col-4">
          <p>
            <strong>2015 - 2019</strong>
          </p>
        </div>
        <div class="col-8">
          <p>
              Universität Luzern
              <br />
              Master
              <br />
            - Philosophie
            <br />
            - Anthropologie
          </p>
        </div>
      </div>

    </div>
    <div class="col-6">
      <%= image_tag("personalfotoc.jpg", class: "img-fluid") %>
    </div>
</div>
<hr />
<div class="row">
  <div class="col-6 border-right">
    <p class="text-center">
      <strong>Arbeitserfahrung</strong>
    </p>
    <div class="row">
      <div class="col-4">
        <p>
          <strong>seit 2013</strong>
        </p>
      </div>
      <div class="col-8">
        <p>
          Webadministrator von Philosophie.ch
        </p>
      </div>
      <div class="col-4">
        <p>
          <strong>2015</strong>
        </p>
      </div>
      <div class="col-8">
        <p>
          Wissenschaftlicher Mitarbeiter, Tutor für Logik, Universität Bern
        </p>
      </div>
      <div class="col-4">
        <p>
          <strong>2016</strong>
        </p>
      </div>
      <div class="col-8">
        <p>
          Wissenschaftlicher Mitarbeiter beim Amt für Museum, Thurgau
        </p>
      </div>

      <div class="col-4">
        <p>
          <strong>seit 2017</strong>
        </p>
      </div>
      <div class="col-8">
        <p>
          Wissenschaftlicher und technischer Mitarbeiter von Philosophie.ch
        </p>
      </div>
      <div class="col-4">
        <p>
          <strong>seit 2020</strong>
        </p>
      </div>
      <div class="col-8">
        <p>
          Wissenschaftlicher und technischer Mitarbeiter von Dialectica
        </p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <p class="text-center">
      <strong>Links</strong>
    </p>
    <div class="row">
      <div class="col-5">
        <p>
          <strong>Philosophie.ch</strong>
        </p>
      </div>
      <div class="col-7">
        <p>
          <%= link_to "philosophie.ch", "https://www.philosophie.ch/" %>
        </p>
      </div>
      <div class="col-5">
        <p>
          <strong>Lernkurs Ethik</strong>
        </p>
      </div>
      <div class="col-7">
        <p>
          <%= link_to "lernkurs.philosophie.ch", "https://www.lernkurs.philosophie.ch/" %>
        </p>
      </div>
      <div class="col-5">
        <p>
          <strong>Kennsch Ethik?</strong>
        </p>
      </div>
      <div class="col-7">
        <p>
          <%= link_to "kennsch-ethik.ch", "http://www.kennsch-ethik.ch" %>
        </p>
      </div>
      <div class="col-5">
        <p>
          <strong>Vegan Chat (im Aufbau)</strong>
        </p>
      </div>
      <div class="col-7">
        <p>
          <%= link_to "kennsch-ethik.ch/chat", "http://www.kennsch-ethik.ch/vegan_chat" %>
        </p>
      </div>
      <div class="col-5">
        <p>
          <strong>Persönliche Webseite</strong>
        </p>
      </div>
      <div class="col-7">
        <p>
          <%= link_to "sandroraess.com", "http://sandroraess.herokuapp.com/" %>
        </p>
      </div>
  </div>
  <hr />
  <p class="text-center">
    <strong>Referenz</strong>
  </p>
  <div class="row">
    <div class="col-4">
      <p>
        <strong>Anja Leser</strong>
      </p>
    </div>
    <div class="col-8">
      <p>
        Geschäftsführerin von Philosophie.ch
        <br />
        078 859 28 19
      </p>
    </div>
    <hr />
</div>
</div>
