<div id="transition" class="hiddenfromstart">Essays</div>

<div class="jumbotron honeydew">
  <div class="row">
    <div class="col-12 text-center">
      <div class="picture hiddenfromstart">
      <%#= image_tag("rain3.jpg", class: "img-fluid rounded mw-100") %>
      <br>
      <br>
      <p>
        <b>

      </p>
    </div>

      <h1 class="text-center hiddenfromstart">
        <%= t 'essays' %>
      </h1>
      <hr />

      <ul class="">
        <li class="mb-3 hiddenfromstart">
          <%= link_to "Was ist Tierethik? - Eine Einführung", "https://www.philosophie.ch/artikel/was-ist-tierethik" %>
        </li>
        <li class="mb-3 hiddenfromstart">
          <%= link_to "Ist es schlimmer, ein glückliches Tier zu töten, als ein unglückliches?", "https://www.philosophie.ch/artikel/ist-es-schlimmer-ein-glueckliches-tier-zu-toeten-als-ein-unglueckliches" %>
        </li>
        <li class="mb-3 hiddenfromstart">
          <%= link_to "Staatsbürgerschaft für Tiere?", "https://www.philosophie.ch/artikel/staatsbuergerschaft-fuer-tiere" %>
        </li>
        <li class="mb-3 hiddenfromstart">
          <%= link_to "Kann der gleiche Schmerz für andere schlimmer sein als für uns?", "https://www.philosophie.ch/artikel/kann-der-gleiche-schmerz-fuer-andere-schlimmer-sein-als-fuer-uns" %>
        </li>
      </ul>

    </div>

    <div class="col-lg-6 col-md-4 col-sm-12 mb-4">
      <div class="text-center p-1">


      </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 text-justify">

    </div>
  </div>

  <hr/>
  <br>

</div>
