<!DOCTYPE html>
<html>
  <head>
    <title>Sandro Räss</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="grad-white-black">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <%= link_to root_path do %>
        <div class="navbar-brand d-inline">Sandro Räss</div>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Root", root_path, class:"nav-link" %>
        </li>
      </ul>

    </div>
  </nav>


  <div class="container maincontent hiddenfromstart">

    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
    <% end %>

    <% if alert %>
        <div class="alert alert-warning" role="alert">
          <%= alert %>
        </div>
    <% end %>

    <%= yield %>
  </div>

  <div class="m-5">
    &nbsp;
  </div>

  <div class="text-center fixed-bottom grey-bg p-2 navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Sandro Räss</a>
  </div>


  </body>
</html>

<script>
    $( document ).ready(function() {
        $.TransitionIn();
    });
</script>
